
<aside id="sidebar">
    <h3>Learn</h3>
    <ul class="fa-ul">
        <li><a href="api.html"><i class="fa fa-li fa-code"></i> Public API</a></li>
        <li><a href="sso.html"><i class="fa fa-li fa-users"></i> SSO Integration</li></a>
        <li><a href="adid.html"><i class="fa fa-li fa-file-text-o"></i> Ad-ID Integration</li></a>
        <li><a href="open-source.html"><i class="fa fa-li fa-key"></i> Open Source</a></li>
    </ul>
    <h3>Connect</h3>
    <ul class="fa-ul">
        <li><a href="http://twitter.com/zonzascoop"><i class="fa fa-li fa-twitter-square"></i> @zonzascoop</a></li>
        <li><a href="https://www.linkedin.com/company/zonza"><i class="fa fa-li fa-linkedin-square"></i> Jobs on LinkedIn</a></li>
    </ul>
    <h3>More from ZONZA</h3>
    <ul>
        <li><a href="http://zonza.com"><i class="fa "></i> About</a></li>
        <li><a href="http://zonza.com/blog"><i class="fa "></i> Blog</a></li>
</aside>
